/**
 * acg主题
 */
 /*背景*/
.-acg- .background::before, .-acg-.background::before {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 6px;
    color: #fff;
    content: attr(data-acg-bg-info);
}
/*文章*/
.-acg- .article>time {
    position: absolute;
    left: -3px;
    top: 6px;
    background: #03A9F4;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 6px;
}
.-acg- .article>time::after {
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 10px solid #03A9F4;
    border-bottom: 15px solid transparent;
    content: "";
}
.-acg- .article>h3 {
    position: absolute;
    left: 120px;
    top: 6px;
    height: 30px;
    line-height: 30px;
    margin: 0;
}
.-acg- .article>section {
    position: absolute;
    top: 40px;
    width: 94%;
    left: 3%;
}
.-acg- .article>section>img {
    width: 100%;
}
.-acg- .article>section>div>* {
    position: relative;
    word-break: break-all;
}
.-acg- .article>section>div>*:not(:last-child)::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: #000;
    content: "";
}
.-acg- .article>footer {
    position: absolute;
    right: -3px;
    top: 45px;
}
.-acg- .article>footer>i {
    display: block;
    background: #03A9F4;
    color: #fff;
    height: 24px;
    line-height: 24px;
    padding-right: 3px;
    font-style: normal;
    margin-bottom: 12px;
}
.-acg- .article>footer>i::before {
    position: absolute;
    left: -8px;
    border-top: 12px solid transparent;
    border-right: 8px solid #03A9F4;
    border-bottom: 12px solid transparent;
    content: "";
}
/*TODO UC不支持variables?*/
.-acg- .article>time,
.-acg- .article>section>div>*::after {
    background-color: var(--color);
}
.-acg- .article>time::after {
    border-left-color: var(--color);
}

/*卡片*/
.-acg- #card {
    position: absolute;
    width: 94%;
    height: 90%;
    left: 3%;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.-acg- #card>div {
    height: 92%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10px;
    border: 1px solid #eee;
    margin: 12px;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.-acg- #card>div.hover-left {
    transform: perspective(100px) rotateY(3deg);
    box-shadow: -3px 1px 3px #eee;
}
.-acg- #card>div.hover-center {
    transform: perspective(100px) rotateY(0deg) scale(1.05);
    box-shadow: 0px 1px 3px #eee;
}
.-acg- #card>div.hover-right {
    transform: perspective(100px) rotateY(-3deg);
    box-shadow: 3px 1px 3px #eee;
}
.-acg- #card>div.hover-center:hover {
    transform: perspective(100px) rotateY(0deg) scale(1.1);
}
.-acg- #card>div::before {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
    content: "";
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 0%, transparent 30%);
}
.-acg- #card>a {
    color: #eee;
    font-size: 24px;
}
.-acg- #card>a:hover {
    color: #fff;
}

/*后台*/
.-acg- #board {
    display: block;
    position: absolute;
    width: 94%;
    height: 90%;
    left: 3%;
    top: 3%;
}
.-acg- #board::before {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 100%;
    height: 100%;
    background: #666;
    content: "";
    opacity: 0.6;
    border: 5px solid #666;
    border-radius: 15px;
    box-shadow: 0 0 12px 6px #fff;
}

/*贴纸*/
.-acg- #sticker {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 120px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    pointer-events: none;
    
}
.-acg- #sticker>* {
    pointer-events: all;
}
.-acg- #sticker>a {
    position: relative;
    min-width: 118px;
    height: 118px;
    line-height: 118px;
    color: #eee;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    margin: 6px;
    text-decoration: none;
}
.-acg- #sticker>a:hover {
    border: none;
    min-width: 120px;
    height: 120px;
    line-height: 120px;
    color: white;
}
.-acg- #sticker>a::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 30px;
    opacity: 0.6;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 3s;
    content: "";
}
.-acg- #sticker>a:hover::before {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
.-acg- #sticker>a:active {
    margin-top: 9px;
}
.-acg- #sticker>a>h1 {
    font-size: 80px;
}
.-acg- #sticker>a>h3 {
    font-size: 36px;
}
.-acg- #sticker>a>h1,
.-acg- #sticker>a>h3,
.-acg- #sticker>a>p,
.-acg- #sticker>a>i {
    margin: 0;
    font-weight: normal;
}
.-acg- #sticker>a>img,
.-acg- #sticker>a>i {
    margin: 9px;
    width: 100px;
    height: 100px;
    font-size: 90px;
}
.-acg- #sticker>a>*:last-child,
.-acg- #sticker>a:hover>*:first-child {
    display: none;
}
.-acg- #sticker>a>*:first-child,
.-acg- #sticker>a:hover>*:last-child {
    display: block;
}
.-acg- #sticker {
    transform-origin: bottom;
    -webkit-transition: bottom 0.3s ease;
    -moz-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
}
.-acg- #sticker.fold {
    -webkit-transition: bottom 0.3s ease;
    -moz-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
    bottom: -100px;
}
@media screen and (min-width: 900px) and (max-width: 1080px) {
    .-acg- #sticker {
        transform: scale(0.8);
    }
    .-acg- #sticker.fold {
        bottom: -80px;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .-acg- #sticker {
        transform: scale(0.6);
    }
    .-acg- #sticker.fold {
        bottom: -60px;
    }
}
@media screen and (max-width: 600px) {
    .-acg- #sticker {
        transform: scale(0.5);
    }
    .-acg- #sticker.fold {
        bottom: -50px;
    }
}
.-acg- #sticker>a[data-acg-show-hash] {
    display: none;
}
.-acg- #sticker>#resize:first-child {
    position: absolute;
    text-align: center;
    display: block;
    width: 600px;
    cursor: ns-resize;
    border-bottom: 1px solid #eee;
    position: absolute;
    color: #eee;
    top: -16px;
    font-size: 12px;
}
.-acg- #sticker>#resize:first-child>i {
    font-style: normal;
}
.-acg- #sticker:not(.fold)>#resize:first-child>i.folded {
    display: none;
}
.-acg- #sticker.fold>#resize:first-child>i.normal {
    display: none;
}
/*TODO UC不支持variables?*/
.-acg- #sticker>a::before {
    background-color: var(--color);
}

/*弹幕*/
.-acg- #barrage, .-acg->#barrage {
    z-index: 1;
    pointer-events: none;
}
.-acg- #barrage>p, .-acg->#barrage>p {
    background: white;
    pointer-events: auto;
}
