body {
    margin: 0px;
    overflow-x: hidden;
    background-color: #eee;
    /*colors*/
    --color-black: #000;
    --color-blue: #03A9F4;
    --color-green: #4CAF50;
    --color-yellow: #FFEB3B;
    --color-pink: #E91E63;
    --color-indigo: #3F51B5;
    --color-red: #FF5252;
    --color-grey: #9E9E9E;
}
.body, .fill_parent {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.body, .contain {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
a {
    text-decoration: none;
}
.invert_color {
    -webkit-filter: invert(1);
    filter: invert(1);
}
