/**
 * 图层
 */
.-layer- {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.-layer->div {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-transform: scale(var(--scale));
    transform: scale(var(--scale));
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: transform-origin 0.3s;
    transition: transform-origin 0.3s;
}
.-layer->div.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.-layer->div.blur::after {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    content: "";
}
.-layer->div.smooth {
    -webkit-animation: smooth 10s linear;
    animation: smooth 10s linear;
}
.-layer->div.smooth.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@-webkit-keyframes smooth {
    0% { -webkit-transform: scale(1.0); }
}
@keyframes smooth {
    0% { transform: scale(1.0); }
}
